<div class="border border-[#e9ebf0] bg-[#f7f9fa] min-h-screen flex flex-col">
  <div class="flex items-center gap-[12px] px-[12px] py-[10px] border-b border-[#e9ebf0]">
    <img src="/avatar.svg" alt="">
    <div>
      <h5 class="text-[18px] font-[600]">Dr. James Smith</h5>
      <p class="text-[14px] font-[300] text-[#737373]">Online</p>
    </div>
  </div>

  <div class="px-[12px] flex-grow overflow-auto">
    <app-massage-text></app-massage-text>
  </div>

  <div class="flex gap-[12px] mx-[24px] mb-[24px] mt-auto">
    <input
      class="border bg-white border-[#e9ebf0] w-full rounded-[8px] outline-none px-3 py-2"
      type="text"
      placeholder="Type your message..."
    />
    <button
      class="bg-[#0066ff] w-[100px] py-[14px] px-[16px] gap-[6px] rounded-[8px] text-white flex justify-center items-center"
    >
      <img src="/Vector (2).svg" alt="Send icon" />
      Send
    </button>
  </div>
</div>
