<div class="flex items-start mt-[24px] gap-[12px] ">
    <img class="w-[35px] h-[35px]" src="/avatar.svg" alt="">
    <div >
        <div class="bg-white py-[8px] px-[16px] rounded-[8px]">
            <p class="text-[16px] font-[300] text-black max-w-[300px]">Hi Corey Philips, how can I help you today?</p>
        </div>
        <p class="text-[#737373] text-[10px] mt-[6px]">10:00 am</p>
    </div>
</div>

<div class="flex items-start justify-end mt-[24px] gap-[12px]">
    <div >
        <div class="bg-[#0066ff] py-[8px] px-[16px] rounded-[8px]">
            <p class="text-[16px] font-[300] text-white max-w-[300px]">I've been feeling under the weather for the past few days.  Achy muscles, sore throat, and a bit of a cough.</p>
        </div>
        <p class="text-[#737373] text-[10px] mt-[6px] text-right">10:00 am</p>
    </div>
    <img class="w-[35px] h-[35px]" src="/avatar.svg" alt="">
</div>

