<div class="rounded-[20px] py-10 p-[20px] border-[1px] border-[#EAECF0]">
  <div class="relative">
    <div class="flex items-center justify-between mb-[20px]">
      <h2 class="text-[1.2rem] font-[600]">Gender</h2>
      <div class="flex items-center border-[1px] border-[#EAECF0] rounded-full py-[4px] px-[8px]">
        <img src="/CalendarBlank.svg" class="me-[4px]" alt="" srcset="">
        <p class="text-[0.8rem] font-[600]">Monthly</p>
      </div>
    </div>
    <canvas class="w-full" id="doughnutCanvas"></canvas>
    <p class="absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 text-[1rem] md:text-[1rem] font-[700] text-center">
    {{ totalCount }}
    <br/>
    <span class="text-[1rem] text-[#6b6b6b] font-[300] ">Patient</span>
  </p>
</div>

</div>